<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Men&uacute;</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
          <ion-list-header>
            Navegaci&oacute;n
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn">
          <ion-list-header>
            ACuenta
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/account">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Cuenta
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/support">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Ayuda
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar Sesi&oacute;n
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn">
          <ion-list-header>
            Cuenta
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/login">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Iniciar Sesi&oacute;n
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/support">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Soporte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/signup">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Registrese
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet main ></ion-router-outlet>

  </ion-split-pane>

</ion-app>
